<section>
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="height: 100%;padding: 20px;">
                <div class="card-body text-center">
                    <img class="card-img-top" style="border-radius: 20px;;width:386px;height: 311px;"
                    src="assets/img/usersadmin.jpg">
                    <h3 class="card-title" style="padding: 20px;text-align: center;">Users dashboard</h3>
                    <p class="card-text" style="padding: 5px;text-align: center;font-size: larger;">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        This dashabord will help you display and control : <br>
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Your network's users <br>
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Scam Reports <br>
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Ban scammers <br>
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Display banned users <br>   
                    </p>
                    <a  class="btn btn-primary nav-link" routerLink="/usersDashboard" style="border-radius: 10px 10px;
                    margin-bottom: 2%;color: white;">manage</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="height: 100%;padding: 20px;">
                <div class="card-body text-center">
                    <img class="card-img-top" style="border-radius: 20px;width:386px;height: 311px;" src="assets/img/salesadmin.jpg">
                    <h3 class="card-title" style="padding: 20px;text-align: center;">Sales tracker</h3>
                    <p class="card-text" style="padding: 5px;text-align: center;font-size: larger;">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        This dashabord will help you display and control : <br>
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Your network's ongoing sales <br>
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Users with the highest number of sales <br> 
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Fake sales / products <br>
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        illegal Products <br>  
                    </p>
                    <a  class="btn btn-primary nav-link" routerLink="/salesTracker" style="border-radius: 10px 10px;
                    margin-bottom: 2%;color: white;">manage</a>
                </div>
            </div>
        </div>
    </div>
</section>