<div class="container">
  <form #addProductForm="ngForm" (ngSubmit)="addProduct()" class="form-horizontal" role="form">
      <h2>Post your product</h2>
      <div class="form-group">
          <label  class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
              <input type="text"  placeholder="Dell , HP ..." class="form-control" [(ngModel)]="product.name"
              [ngModelOptions]="{standalone : true}" autofocus>
          </div>
      </div>
      <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Price</label>
          <div class="col-sm-9">
              <input type="text" placeholder="Price" class="form-control" [(ngModel)]="product.price"
              [ngModelOptions]="{standalone : true}">
          </div>
      </div>
      <div class="form-group">
          <label for="password" class="col-sm-3 control-label">Description</label>
          <div class="col-sm-9">
              <textarea placeholder="Description" class="form-control" [(ngModel)]="product.description"
              [ngModelOptions]="{standalone : true}"></textarea>
          </div>
      </div>  
      <div class="form-group">
          <label for="country" class="col-sm-3 control-label">Category</label>
          <div class="col-sm-9">
              <select id="country" class="form-control" [(ngModel)]="product.category" [ngModelOptions]="{standalone : true}">
                <option *ngFor="let category of categories" [ngValue]="category">
                  {{ category }}
                </option>
              </select>
          </div>
      </div>
      <div class="form-group">
          <label for="country" class="col-sm-3 control-label">Region</label>
          <div class="col-sm-9">
              <select id="country" class="form-control" [(ngModel)]="product.region"
              [ngModelOptions]="{standalone : true}">
                <option *ngFor="let region of regions" [ngValue]="region">
                  {{ region }}
                </option>
              </select>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-3">Picture</label>
          <div class="col-sm-9">
            <button
            type="button"
            (click)="filePicker.click()"
            class="btn btn-success">
            Sélectionner image
          </button>
          <input
          style="visibility: hidden;"
            type="file"
            class="form-control"
            id="pnone"
            placeholder="image *"
            #filePicker
            (change)='onImageSelected($event)'/>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-3">Preview</label>
          <div class="col-sm-9 text-center">
            <img [src]="imagePreview" style="height: 150px;width: 150px;border: 1px solid black;">
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
              <button type="submit" class="btn btn-primary btn-block" style="margin-top: 2%;color: #fff;
              background-color: #D10024;
              border-color: #c11733;">Post your product</button>
          </div>
      </div>
  </form>
</div>