<div class="row" style="margin: 2%;">
    <div class="col-sm-6 col-md-3 text-center" *ngFor="let o of myOrders">
      <div class="thumbnail">
        <img style="height: 200px;" src="{{o.idProduct.image}}">
        <hr>
        <div class="caption">
          <h2 style="font-size:large;color: #8a1226;"><i class="fa fa-laptop" aria-hidden="true"></i> {{o.idProduct.name}}</h2>
          <h4 style="font-size:medium;color: #8a1226;"><i class="fa fa-diamond" aria-hidden="true"></i> {{o.idProduct.category}}</h4>
          <h3 style="font-size:medium;color: #8a1226;"><i class="fa fa-usd" aria-hidden="true"></i> {{o.idProduct.price}}</h3>
          <h4 style="color: rgb(49, 48, 48);"><i class="fa fa-map-marker" aria-hidden="true"></i> {{o.idProduct.region}}</h4>
          <h4 style="color: rgb(49, 48, 48);"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{o.idOwner.firstName | titlecase}} {{o.idOwner.lastName | titlecase}}</h4>
          <h2 class="product-name" style="font-size:medium"><i class="fa fa-phone" aria-hidden="true"></i> {{o.idOwner.tel}}</h2>
          <h4 [ngClass]="{'orange': o.status == 'unconfirmed','green' : o.status == 'confirmed','red': o.status == 'declined'}"> {{o.status | titlecase}}</h4>
          <p>
            <a class="btn btn-danger" (click)="cancelOrder(o._id)" role="button">cancel order</a>
          </p>
        </div>
    </div>
    </div>
</div>