<app-collection></app-collection>
<app-products></app-products>
<app-hot-deal></app-hot-deal>
<section>
    <div class="row" >
        <div class="col-sm-12 col-md-4"style="float: left;margin-top:5%;margin-left:15%" >
          <div class="thumbnail" style="border: none;">
            <img src="assets/img/shopping.png">
            <div class="caption">
              <h3>We offer online shopping services</h3>
              <p>RE-BUILT is a network for people who struggle 
                to sell their used or like-new pc parts on the physical market 
                helping them sell it faster and safer by connecting them with each other 
                using personal accounts sharing contact details and locations and basic infos
                and of course ensuring protection for them from fraud by reporting bad sellers and banning them from the network. </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4"style="float: right;margin-top:5%;margin-right:15%" >
            <div class="thumbnail" style="border: none;">
              <img src="assets/img/storeartwork.jpg">
              <div class="caption" style="padding-top: 7%;">
                <h3>A big Open Market for everyone</h3>
                <p>RE-BUILT is a network for people who struggle 
                  to sell their used or like-new pc parts on the physical market 
                  helping them sell it faster and safer by connecting them with each other 
                  using personal accounts sharing contact details and locations and basic infos
                  and of course ensuring protection for them from fraud by reporting bad sellers and banning them from the network. </p>
              </div>
            </div>
          </div>
      </div>
    <div class="container mt-5 mb-5" style="padding-top:5%;padding-bottom:5%">
        <div class="row g-2">
            <h2 class="text-center" style="padding-bottom: 5%;">User reviews</h2>
            <div class="col-md-4">
                <div class="card p-3 text-center px-4">
                    <div class="user-image">
                        <img style="border-radius: 50%;margin-bottom: 5%;" src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80">
                    </div>
                    <div class="user-content">
                        <h5 class="mb-0">Bruce Hardy</h5>
                        <span>Software Developer</span>
                        <p>This is my second review here. Remember me? I'm the same one from the previous one.
                             I sell computer parts. I sell computer parts, like computers, RAM, hard disks,
                              motherboards and many other things like that.  BUT: I don't have a website.
                               and i got my chance to sell them here</p>
                    </div>
                    <div class="ratings">
                        <i class="fa fa-star" style="padding:1%;"></i>
                        <i class="fa fa-star" style="padding:1%;"></i>
                        <i class="fa fa-star" style="padding:1%;"></i>
                        <i class="fa fa-star" style="padding:1%;"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 text-center px-4">
                    <div class="user-image">
                        <img style="border-radius: 50%;margin-bottom: 5%" src="https://i.imgur.com/w2CKRB9.jpg" class="rounded-circle" width="80">
                    </div>
                    <div class="user-content">
                        <h5 class="mb-0">Mark Smith</h5>
                        <span>Web Developer</span>
                        <p>My son loves to build computers and I love to help him build them. I was recently looking for a new laptop to use for work and I stumbled across a great deal on an HP Pavilion G6 laptop on Newegg. I bought it because I thought it would be a good solid computer for him to use, and because it came with a free copy of Windows 10 and a free copy of Office. It also came with a keyboard and mouse combo that my son likes to use.</p>
                    </div>
                    <div class="ratings">
                        <i class="fa fa-star" style="padding:1%;"></i>
                        <i class="fa fa-star" style="padding:1%;"></i>
                        <i class="fa fa-star" style="padding:1%;"></i>
                        <i class="fa fa-star" style="padding:1%;"></i>
                        <i class="fa fa-star" style="padding:1%;"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 text-center px-4">
                    <div class="user-image">
                        <img style="border-radius: 50%;margin-bottom: 5%" src="https://i.imgur.com/ACeArwY.jpg" class="rounded-circle" width="80">
                    </div>
                    <div class="user-content">
                        <h5 class="mb-0">Veera Duncan</h5>
                        <span>Software Architect</span>
                        <p>I recently decided to start an e-commerce shop to sell some of my spare parts. I had a hard time finding the right parts for my old desktop and decided to start my own website. I bought a USB hub for $5.00 and made it work for my desktop. It has saved me hours of time as I can now buy the parts I need and not have to go searching for them. I have been able to make a few purchases and will be able to make more</p>
                    </div>
                    <div class="ratings">
                        <i class="fa fa-star" style="padding:1%;"></i>
                        <i class="fa fa-star" style="padding:1%;"></i>
                        <i class="fa fa-star" style="padding:1%;"></i>
                        <i class="fa fa-star" style="padding:1%;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-news-letter></app-news-letter>