<section>
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center" style="margin-top: 10%;margin-bottom:10%">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Add an administrator <br />
              <span style="color:#D10024" class="text-primary">To monitor your network</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              You can monitor your network through your dashboard <br>
              You can review scam reports / ban bad users <br>
              Track ongoing purchases / sales in your network <br>
              And Review quotes sent by your users <br>
            </p>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form [formGroup]="addAdminForm">
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" class="form-control" id="inputEmail4" placeholder="John"
                        formControlName="firstName">
                    <div
                        *ngIf="addAdminForm.controls['firstName'].invalid && (addAdminForm.controls['firstName'].dirty || addAdminForm.controls['firstName'].touched)">
                        <div *ngIf="addAdminForm.controls['firstName'].errors.required" class="text-danger">
                            First Name is required
                        </div>
                       
                            <div *ngIf="addAdminForm.controls['firstName'].errors.minlength"
                                class="text-danger">
                                First Name must have at least 3 characters
                            </div>
                    </div>
                        <label class="form-label" for="firstName">First name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" placeholder="Doe" id="lastName" class="form-control"
                          formControlName="lastName" />
                        <label class="form-label" for="lastName">Last name</label>
                        <div
                          *ngIf="addAdminForm.controls['lastName'].invalid && (addAdminForm.controls['lastName'].dirty || addAdminForm.controls['lastName'].touched)">
                          <div *ngIf="addAdminForm.controls['lastName'].errors.required" class="text-danger">
                            Last Name is required
                          </div>
                          <div *ngIf="addAdminForm.controls['lastName'].errors.minlength" class="text-danger">
                            Last Name must have at least 5 characters
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="email" placeholder="example@domain.com" id="email" class="form-control"
                      formControlName="email" />
                    <label class="form-label" for="email">Email address</label>
                    <div
                      *ngIf="addAdminForm.controls['email'].invalid && (addAdminForm.controls['email'].dirty || addAdminForm.controls['email'].touched)">
                      <div *ngIf="addAdminForm.controls['email'].errors.required" class="text-danger">
                        Email is required
                      </div>
  
                      <div *ngIf="addAdminForm.controls['email'].errors.email" class="text-danger">
                        Invalid Email
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="tel" placeholder="+216 11 222 333" id="tel" class="form-control"
                      formControlName="tel" />
                    <label class="form-label" for="tel">Phone Number</label>
                    <div
                      *ngIf="addAdminForm.controls['tel'].invalid && (addAdminForm.controls['tel'].dirty || addAdminForm.controls['tel'].touched)">
                      <div *ngIf="addAdminForm.controls['tel'].errors.required" class="text-danger">
                        Tel is required
                      </div>
  
                      <div *ngIf="addAdminForm.controls['tel'].errors.pattern" class="text-danger">
                        Invalid Tel
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" placeholder="************" id="password" class="form-control"
                      formControlName="password" />
                    <label class="form-label" for="password">Password</label>
                    <div
                      *ngIf="addAdminForm.controls['password'].invalid && (addAdminForm.controls['password'].dirty || addAdminForm.controls['password'].touched)">
                      <div *ngIf="addAdminForm.controls['password'].errors.required" class="text-danger">
                        Password is required
                      </div>
                      <div *ngIf="addAdminForm.controls['password'].errors.pattern" class="text-danger">
                        Invalid Password
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" placeholder="************" id="confirmPassword" class="form-control"
                      formControlName="confirmPassword" />
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <div
                      *ngIf="addAdminForm.controls['confirmPassword'].invalid && (addAdminForm.controls['confirmPassword'].dirty || addAdminForm.controls['confirmPassword'].touched)">
                      <div *ngIf="addAdminForm.controls['confirmPassword'].errors.mustMatch" class="text-danger">
                        Confirm Password must match password
                      </div>
                    </div>
                  </div>
                  <div class="text-danger">{{message}}</div>
                  <button (click)="addAdmin(addAdminForm.value)"
                   type="submit" 
                   class="btn btn-primary btn-block mb-4" 
                   style="margin-top: 2%;color: #fff;
                    background-color: #D10024;
                    border-color: #c11733;">
                    Add administrator
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>